body{
    font-family: Inter;
    margin-top: 107px;
}

p{
    margin: 0;
}

.judul{
    color: var(--primary---color, #015D67);
    text-align: center;
    font-size: 67px;
    font-weight: 700;
}

.desc{
    color: rgba(1, 93, 103, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 75px;
}

.card-container{
    display: flex;
    gap: 32px;
    padding-left: 81px;
    color: var(--white---color, #FFFAFA);
    overflow-x: scroll;
}

.card{
    display: flex;
    flex: 0 0 500px; /* Pastikan card memiliki lebar tetap. NB: flex: [flex-grow] [flex-shrink] [flex-basis] */
    padding: 24px;
    flex-direction: column;
    border-radius: 12px;
    background: var(--primary---color, #015D67);
}

.image{
    height: 250px;
    width: 100%; /* Pastikan gambar menutupi lebar penuh card */
    object-fit: cover; /* Hindari distorsi gambar */
}

.nama{
    margin-top: 16px;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
}

.NIP{
    font-size: 16px;
    font-weight: 500;
}

.jabatan{
    margin-top: 6px;
}
